/* @keyframes rotateBackground {
    0% {
      background-image: url('./login_background/image.png');
    }
    33.33% {
      background-image: url('./login_background/monks.png');
    }
    66.66% {
      background-image: url('./login_background/paint.png');
    }
    100% {
      background-image: url('./login_background/monks.png');
    }
  } */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* font-family: ; */
    /* position: relative; */
    /* display: flex; */
    justify-content: right;
    align-items: center;
    min-height: 100vh;
    
    background-image: url('../login_background/monks.png') ;
    background-size: cover;
    background-position: center;
    /* position: fixed; */
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    animation: rotateBackground 30s infinite ease-in-out; /* Adjust duration as needed */
    z-index: -1;
}

.wrapper{
    /* position: absolute; */
    width: 350px;
    background: transparent;
    border: 2px solid ;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10 rgba(0, 0, 0, .1);
    color: #fff;
    border-radius: 10px;
    float: right;
    padding: 30px 40px;
    margin-right: 50px;
    margin-top: 100px;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;  
    
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    
    outline: none;
    border: 2px solid ;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
    
}

.input-box input::placeholder{
    color: #fff;
}

.input-box .icon{

    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;

}

.wrapper .remember-forget{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forget label input{
    accent-color: #fff;
    margin-right: 4px;
    

}

.remember-forget a{
    color: #fff;
    text-decoration: none;
}

.remember-forget a:hover{
    text-decoration: underline;
}
.wrapper button{
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
    margin: 20px 0 15px;
}
.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

.hero-dollars {
    z-index: 1;
    position: absolute;
  }

  .floating-hero {
    animation: float-slant 3s ease-in-out infinite;
    transform-style: preserve-3d;
    will-change: transform;
}

@keyframes float-slant {
    0% {
        transform: translate3d(0px, 0px, 0px) rotate(0deg);
    }
    25% {
        transform: translate3d(0px, -5px, 0px) rotate(-2deg);
    }
    50% {
        transform: translate3d(0px, -8px, 0px) rotate(0deg);
    }
    75% {
        transform: translate3d(0px, -5px, 0px) rotate(2deg);
    }
    100% {
        transform: translate3d(0px, 0px, 0px) rotate(0deg);
    }
}

img{
    object-fit: contain; 
    height: 100%;
    margin-right: 0;
    padding: 0;
  }

.herowraper{

    border-radius: 10px;
    float: left;
    margin-right: 0;
    padding: 0;

  }

